# 1. Import Library

In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 
import seaborn as sns

# 2. Dataset Loading

In [2]:
df = pd.read_excel("dataset/Job.xlsx")
df.head()

,Job Title,Job Description,Required Skills,Salary Range,Location,Company,Experience Level,Industry,Job Type,Date Posted
0,Software Engineer,Develop software,"Java, Python","£40,000 - £60,000",London,ABC Tech,Entry-Level,Technology,Full-Time,2023-01-05
1,Data Analyst,Analyze data,"SQL, Excel","£35,000 - £50,000",Manchester,XYZ Analytics,Junior,Analytics,Full-Time,2023-02-10
2,Network Engineer,Maintain networks,"Cisco, WAN","£45,000 - £70,000",Birmingham,Network Solutions,Mid-Level,Networking,Full-Time,2023-03-15
3,Cloud Architect,Design cloud,"AWS, Azure","£60,000 - £90,000",Edinburgh,Cloud Innovators,Senior,Cloud Computing,Full-Time,2023-04-20
4,Cybersecurity Analyst,Protect data,Cybersecurity,"£50,000 - £80,000",Glasgow,SecureGuard,Mid-Level,Security,Full-Time,2023-05-25

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Job Title         364 non-null    object
 1   Job Description   364 non-null    object
 2   Required Skills   364 non-null    object
 3   Salary Range      364 non-null    object
 4   Location          364 non-null    object
 5   Company           364 non-null    object
 6   Experience Level  364 non-null    object
 7   Industry          364 non-null    object
 8   Job Type          364 non-null    object
 9   Date Posted       364 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(9)
memory usage: 28.6+ KB

In [4]:
print("Jumlah duplikat ", df.duplicated().sum())

Jumlah duplikat  55

In [5]:
df.isna().sum()

Job Title           0
Job Description     0
Required Skills     0
Salary Range        0
Location            0
Company             0
Experience Level    0
Industry            0
Job Type            0
Date Posted         0
dtype: int64